.wrapper {
  min-width: 110px;
  padding: 0 16px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  border-radius: 4px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(254, 44, 85, 1);
  min-width: 164px;
  min-height: 36px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-family: SofiaPro, PingFangSC, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 6px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-left: 16px;
  min-width: 100px;

  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  border: 1px solid var(--primary);
  background-color: white;
  color: var(--primary);

  &:hover {
    border: 1px solid var(--primary);
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  padding: 14px 16px;
}

.text {
  background-color: transparent;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload {
  min-width: 110px;
  padding: 0 16px;
  height: 36px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #161823;
}

.follow {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgba(254, 44, 85, 1);
  border-color: rgba(254, 44, 85, 1);
  background-color: rgba(255, 255, 255, 1);
  min-width: 106px;
  height: 28px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-family: ProximaNova, PingFangSC, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 6px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  right: 0;
  position: absolute;
  top: 28px;
  min-width: 88px;
  padding: 0 10px;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06) !important;
  }
}

.following {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgb(22, 24, 35);
  border-color: rgba(22, 24, 35, 0.12);
  background-color: rgb(255, 255, 255);
  max-height: 28px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-family: ProximaNova, PingFangSC, sans-serif;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  right: 0px;
  position: absolute;
  top: 28px;
  min-width: 88px;
  padding: 0px 10px;

  &:hover {
    border-color: rgb(208, 209, 211);
    background-color: rgb(248, 248, 248);
  }
}

.login {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgba(254, 44, 85, 1);
  border-color: rgba(254, 44, 85, 1);
  background-color: rgba(255, 255, 255, 1);
  min-width: 168px;
  min-height: 48px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  font-family: SofiaPro, PingFangSC, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 6px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.icon {
  display: flex;
  margin-right: 8px;
}

.icon>svg {
  width: 20px;
  height: 20px;
}

.follow_profile {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgb(254, 44, 85);
  border-color: rgb(254, 44, 85);
  background-color: rgb(255, 255, 255);
  min-width: 106px;
  min-height: 28px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-family: ProximaNova, PingFangSC, sans-serif;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px 8px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 0;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06) !important;
  }
}

.following_profile {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: rgb(22, 24, 35);
  border-color: rgba(22, 24, 35, 0.12);
  background-color: rgb(255, 255, 255);
  min-width: 106px;
  min-height: 28px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-family: ProximaNova, PingFangSC, sans-serif;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px 8px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  right: 0;

  &:hover {
    border-color: rgb(208, 209, 211);
    background-color: rgb(248, 248, 248);
  }
}

.followback {
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 44, 85);
  min-width: 96px;
  height: 29px;
  font-family: ProximaNova, PingFangSC, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px 8px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  align-self: center;
  flex: 0 0 auto;

  &:hover {
    background-color: rgb(254, 44, 85);
  }
}